@use '../../components/sass/colorSchemeLanguages' as csl

.java
    color: csl.$java
.javaScript
    color: csl.$js
.css
    color: csl.$css
.html
    color: csl.$html
.sass
    color: csl.$sass
.bootstrap
    color: csl.$bootstrap
.git
    color: csl.$git
.mysql
    color: csl.$mysql
