@use 'breakpoints' as bp
@use 'languagesIcons'

#skills
    ul
        list-style-type: none
        display: flex
        justify-content: center
        flex-wrap: wrap
        li
            @include bp.skillMobile
                width: max(150px, 40%)
            width: 20%
            padding: 5px
            margin: 10px
            border-radius: 7px
            text-align: center
            overflow: hidden
            // background-color: rgba(255, 255, 255, .3)
            img
                width: 42px

            p
                font: 18px
                transform: translateY(120%)
                transition: transform .5s
            &:hover p
                transform: translateY(0)
