@use 'variables' as va

@mixin menu
    background-color: va.$dark-purple
    padding: va.$pad
    position: sticky
    top: 0
    left: 0
    text-align: center
    color: va.$white

@mixin flex
    display: flex
    flex-direction: column
    justify-content: space-around

@mixin listReset
    list-style: none
    display: flex

@mixin xButton
    width: 32px
    height: 2px
    background: #fff
    margin: 8px
    display: block

@mixin titleHover
    .hover-effect
        display: inline-block
        position: relative
        overflow: hidden
        &::before
            content: ""
            display: block
            width: 100%
            background-color: black
            height: 2.7px
            position: absolute
            bottom: 0
            transform: translateX(-110%)
            transition: transform .5s

    &:hover
        span::before
            transform: translateX(0)

@mixin sliderPosition($left)
    left: $left
    display: block
