// * tools
@use 'variables' as va
@use 'mixins' as mx
@use 'breakpoints' as bp

// * components
@use 'menu'
@use 'footer'
@use 'button'
@use 'main'

// ! resets
*
    font-family: 'Roboto Condensed', sans-serif
    padding: 0
    margin: 0
    box-sizing: border-box

body
    overflow-x: hidden
    font-size: 16px

html
    scroll-behavior: smooth

// * container
.container
    @include bp.monitorView
        display: grid
        grid-template-columns: 30vw 69.8vw
        grid-template-rows: 80vh 20vh
        position: relative
