// * tools
@use '../../components/sass/variables' as va
@use '../../components/sass/breakpoints' as bp
@use '../../components/sass/mixins' as mx

// * componets
@use '../../components/sass/menu' 
@use '../../components/sass/footer'
@use '../../components/sass/button'
@use '../../components/sass/main'

// ! RESET
*
    font-family: 'Roboto Condensed', sans-serif
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background-color: va.$dark-purple
    // background: url('../../../public/assets/img/background.jpg') no-repeat center center
    background-size: cover
    overflow-x: hidden

// ! On JavaScript
body[data-js-status="on-js"]
    [data-js-status="on-js"]
        display: none

.container
    display: grid
    grid-template-columns: va.$columns-10
    grid-template-rows: va.$rows-5

.main
    grid-column: 4 / 11
    grid-row: 1 / 6
    padding: va.$pad
    section
        background-color: rgba(255,255,255, .3)
        margin: 13px 0
        padding: 10px
        border-radius: 7px
        h2
            font-size: 28px
    #about, #projects, #skills, #contact
        @include mx.titleHover

// ! Breakpoints
@include bp.mobileView
    .container
        display: flex
        flex-direction: column
