// * tools
@use '../../components/sass/variables' as va
@use '../../components/sass/breakpoints' as bp
@use '../../components/sass/mixins' as mx

// * componets
@use '../../components/sass/menu' 
@use '../../components/sass/footer'
@use '../../components/sass/button'

// ! RESET
*
    font-family: 'Roboto Condensed', sans-serif
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background: url('../../../public/assets/img/background.jpg') no-repeat center center
    background-size: cover
    background-color: va.$dark-purple
    overflow-x: hidden

// ! On JavaScript
body[data-js-status="on-js"]
    [data-js-status="on-js"]
        display: none

.container
    display: grid
    grid-template-columns: va.$columns-10
    grid-template-rows: va.$rows-5

// ! Breakpoints
@include bp.mobileView
    .container
        display: flex
        flex-direction: column
