.hero {
  z-index: 1;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #23232e;
}
.hero-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100%;
}
.hero img {
  border-radius: 50%;
  width: clamp(10em, 15vw, 220px);
}
.hero-texts {
  color: #F8F8FF;
}
.hero-texts h1 {
  font-size: clamp(1.7em, 5vw, 2em);
}
.hero-texts p {
  font-size: clamp(1.1em, 3vw, 1.3em);
}
.hero-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-nav ul a {
  color: #F8F8FF;
  text-decoration: none;
}
.hero-nav li {
  margin-bottom: 12px;
  padding: 1em;
}
.hero-nav span {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.hero-nav span:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #F8F8FF;
  position: absolute;
  bottom: 0;
  transform: translateX(-110%);
  transition: all 0.5s;
}
.hero-nav a {
  padding: 0.5em;
  display: inline-block;
  font-size: 1.5em;
  width: 140px;
}
.hero-nav a:hover span:before, .hero-nav a:focus span:before {
  transform: translateX(0);
}
@media screen and (min-width: 1000px) {
  .hero {
    grid-row: 1;
    grid-column: 1;
    width: auto;
    height: auto;
    position: sticky;
    top: 0;
  }
}

@media screen and (max-width: 999px) {
  .menu {
    position: fixed;
    top: 0;
    transform: translateX(-120%);
    transition: transform 0.3s ease-in;
  }
  .menu.active {
    transform: translateX(0);
  }
}
.foo {
  background-color: #23232e;
}
.foo a:hover, .foo a:focus {
  color: #7888F3;
}
.foo a {
  color: #F8F8FF;
  text-decoration: none;
}
.foo-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100%;
  padding-top: 1em;
}
.foo-social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: min(260px, 70%);
  height: 48px;
  margin: 0 auto;
  text-align: center;
}
.foo-social ul a {
  color: #F8F8FF;
  text-decoration: none;
}
.foo-social ul li {
  width: 42px;
  font-size: 2em;
}
.foo-social a {
  transition: color 0.3s;
}
.foo-social a:hover, .foo-social a:focus {
  font-size: 1.2em;
}
.foo-texts {
  color: #F8F8FF;
  font-size: 1.3em;
  text-align: center;
}
.foo-texts a {
  text-decoration: underline;
  transition: color 0.5s;
}
.foo-texts a:hover {
  text-decoration: underline dotted;
}
@media screen and (min-width: 1000px) {
  .foo {
    grid-column: 1;
    grid-row: 2;
    position: sticky;
    top: 80vh;
  }
}

.menu-toggle {
  z-index: 2;
  background: none;
  border: none;
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.menu-toggle:after, .menu-toggle:before, .menu-toggle-bar {
  content: "";
  margin: 10px;
  display: block;
  width: 32px;
  height: 2px;
  background-color: #F8F8FF;
  transition: transform 0.3s;
}

.menu-toggle.active:before {
  transform: rotate(-45deg) translate(-10px, 10px);
}
.menu-toggle.active .menu-toggle-bar {
  opacity: 0;
}
.menu-toggle.active:after {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media screen and (min-width: 1000px) {
  .menu-toggle {
    display: none;
  }
}
.main {
  color: #F8F8FF;
}
.main .title {
  margin-bottom: 1em;
}
.main .title-effect {
  display: inline-block;
  position: relative;
}
.main .title-effect:before {
  content: "";
  width: 0;
  display: block;
  height: 3px;
  border-radius: 2px;
  background-color: #7888F3;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  transition: width 0.5s;
}
.main h2 {
  font-size: 1.8em;
}

.about {
  height: 100dvh;
  position: relative;
  padding: 1em;
}
.about-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  text-shadow: 2px 1px black;
  padding: 1em;
  text-align: center;
}
.about-content p {
  font-size: 1.4em;
  line-height: 1.2em;
}
.about:hover .title-effect:before {
  width: 100%;
}
.about:before {
  content: "";
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../../../public/assets/img/background1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.4);
}

.projects {
  background-color: #23232e;
  padding: 1em;
}
.projects:hover .title-effect:before {
  width: 100%;
}
.projects .carousel-content {
  position: relative;
  width: min(100%, 1000px);
  height: 400px;
  margin: 0 auto;
}
.projects .carousel .btn {
  cursor: pointer;
}
.projects .carousel .project {
  height: 400px;
  display: none;
}
.projects .carousel .project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.2s ease-in;
  position: absolute;
}
.projects .carousel .project-name {
  font-size: clamp(1em, 5vw, 1.8em);
  position: absolute;
  top: 10px;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  transform: translate(-50%);
}
.projects .carousel .project-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  transition: opacity 0.4s ease-in-out;
  height: 70px;
}
.projects .carousel .project-links a {
  color: #F8F8FF;
  text-decoration: none;
}
.projects .carousel .project-links a:hover, .projects .carousel .project-links a:focus {
  color: #7888F3;
}
.projects .carousel .project-links a {
  text-align: center;
  display: inline-block;
  width: 42px;
  height: 46px;
  margin: 10px;
}
.projects .carousel .project-links a:hover {
  font-size: 1.1em;
}
.projects .carousel .project:hover .project-image {
  filter: brightness(0.4) blur(2px);
}
.projects .carousel .project:hover .project-links {
  opacity: 1;
}
.projects .carousel .project.slide-active {
  display: block;
}
.projects .carousel .in-project .project-image {
  filter: grayscale(0.5) blur(0.5px) brightness(0.8);
}
.projects .carousel-btns .btn {
  color: rgba(248, 248, 255, 0.5);
  font-size: 1.9em;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 100%;
  width: 40px;
}
.projects .carousel-btns .btn-next {
  right: 0;
}
.projects .carousel-btns .btn-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #F8F8FF;
}
.projects .carousel-btns .btn-previous {
  left: 0;
}
.projects .carousel-btns .btn-previous:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #F8F8FF;
}
.projects .carousel-select {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
}
.projects .carousel-select .btn {
  background: rgba(248, 248, 255, 0.5);
  margin: 0 7px;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: background-color 0.2s;
}
.projects .carousel-select .btn:hover {
  background-color: #F8F8FF;
}
.projects .carousel .btn-select.slide-active {
  background-color: #F8F8FF;
}

.skills {
  background-color: #23232e;
  padding: 1em;
}
.skills:hover .title-effect:before {
  width: 100%;
}
.skills .skills-container {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.skills .skills-container a {
  color: #F8F8FF;
  text-decoration: none;
}
.skills .skills-container li {
  width: 40%;
  margin-bottom: 1em;
}
.skills .skills-container li div {
  background-color: rgba(248, 248, 255, 0.2);
  border-radius: 7px;
  padding: 1em;
  width: min(160px, 100%);
  margin: 0 auto;
  overflow-y: hidden;
  transition: background-color 0.3s;
}
.skills .skills-container li div:hover {
  background-color: rgba(248, 248, 255, 0.5);
}
.skills .skills-container li div:hover .skill-name {
  transform: translateY(0);
}
.skills .skill-name {
  transform: translateY(190%);
  transition: transform 0.3s ease-in;
}
.skills .skill-icon {
  width: 62px;
  margin-bottom: 5px;
}
.skills .html {
  color: #e34c20;
}
.skills .javascript {
  color: #F0DB4F;
}
.skills .css {
  color: #264de4;
}
.skills .sass {
  color: #cc6699;
}
.skills .bootstrap {
  color: #563d7c;
}
.skills .git {
  color: #F1502F;
}
.skills .java {
  color: #f89820;
}
.skills .mysql {
  color: #00758F;
}

@media screen and (min-width: 1000px) {
  .main {
    grid-column: 2;
    grid-row: 1/4;
  }
  .about .about-content-text {
    margin: 0 auto;
    width: 80%;
  }
}
* {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 30vw calc(70vw - 17px);
    grid-template-rows: 80vh 20vh;
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
